<div class="span3 navigation">

	<img src="img/profile.jpg" width="150px" />
	
	<nav>
		<ul class="unstyled">
			
			<li><a href="index.php">Home</a></li>
			
			<li><a href="about.php">About</a></li>
			
			<li><a href="resume.php">Resume</a></li>
			
			<li><a id="samples-toggle">Writing Samples</a></li>
			
			<div id="samples" class="sub-menu">
				<ul class="unstyled">
					<li><a href="white_paper.php">
						White Paper
					</a></li>
					<li><a href="instructions.php">
						Instructions
					</a></li>
					<li><a href="document_design.php">
						Document Design
					</a></li>
					<li><a href="usability_test.php">
						Usability Test
					</a></li>
				</ul>
			</div>
									
			<li><a id="blogs-toggle">Blog</a></li>
			
			<div id="blogs" class="sub-menu">
				<ul class="unstyled">
					<li><a href="blog.php?page=accepting-blame">
						Accepting Blame
					</a></li>
					<li><a href="blog.php?page=collaborative-writing">
						Collaborative Writing
					</a></li>
					<!-- <li><a href="blog.php?page=PAGE-NAME-HERE"></a></li> -->
				</ul>
			</div>
			
		</ul>
	</nav>
	
	<address class="contact">
		<h4>
			Contact:
		</h4> 
		<ul class="unstyled">
			<li>
				<i class="icon-globe"></i>
				&nbsp;
				Seattle, WA
			</li>
			<li>
				<i class="icon-envelope"></i>
				&nbsp;
				<a class="email" href="mailto:bindermeredith@yahoo.com">bindermeredith@yahoo.com</a>
			</li>
			<li>
				<i class="icon-phone"></i> 
				&nbsp;
				206-547-3025
			</li>
		</ul>
	</address>

</div>